body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #0f172a;
    overflow: hidden;
}

.hello-world {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    white-space: nowrap;
    /* animation: moveLeftToRight 4s linear infinite; */
    /* animation: moveLeftToRight 4s alternate-reverse infinite; */
    /* animation: moveLeftToRight 4s reverse infinite ; */
    /* animation: moveLeftToRight 4s cubic-bezier(0.23, 1, 0.320, 1) infinite; */

}

@keyframes moveLeftToRight {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.carousel-inner img {
  height: 90vh;
  object-fit: cover;
}
